<%= form_for(@item_entry, :url => competition_create_path(@params_slug), :html => {:class => 'form-competition-entry'}) do |f| %>
	<div class="form-field">
		<%= f.label :first_name, "#{t('competition.first_name')}".html_safe %>
		<%= f.text_field :first_name, :class => 'required' %>
    </div>
    <div class="form-field">
		<%= f.label :last_name, "#{t('competition.last_name')}".html_safe %>
		<%= f.text_field :last_name, :class => 'required' %>
    </div>
    <div class="form-field">
		<%= f.label :email, "#{t('competition.email')}".html_safe %>
		<%= f.email_field :email, :class => 'required' %>
    </div>
    <div class="form-field">
		<%= f.label :address_1, "#{t('competition.address_1')}".html_safe %>
		<%= f.text_field :address_1, :class => 'required' %>
    </div>
    <div class="form-field">
		<%= f.label :address_2, "#{t('competition.address_2')}".html_safe %>
		<%= f.text_field :address_2, :class => 'required' %>
    </div>
    <div class="form-field">
		<%= f.label :city, "#{t('competition.city')}".html_safe %>
		<%= f.text_field :city, :class => 'required' %>
    </div>
    <div class="form-field">
		<%= f.label :county, "#{t('competition.county')}".html_safe %>
		<%= f.text_field :county, :class => 'required' %>
    </div>
    <div class="form-field">
		<%= f.label :postcode, "#{t('competition.postcode')}".html_safe %>
		<%= f.text_field :postcode, :class => 'required' %>
    </div>
    <div class="form-field">
		<%= f.label :country, "#{t('competition.country')}".html_safe %>
		<%= f.text_field :country, :class => 'required' %>
    </div>
    <% @competition_item.item_additional_fields.each do |item_additional_field| %>
    	<%= fields_for 'item_entry_additional_field[' + item_additional_field.id.to_s + ']' do |f_item_entry_additional_field| %>
	    	<div class="form-field">
	    		<%= f_item_entry_additional_field.label item_additional_field.label %>
	    		<% if item_additional_field.field_type == "checkbox" %>
	    			<% if !@params_item_additional_entry.nil? and @params_item_additional_entry[item_additional_field.id.to_s]["value"].to_i > 0 %>
						<%= f_item_entry_additional_field.check_box :value, :checked => true %>
					<% else %>
						<%= f_item_entry_additional_field.check_box :value %>
					<% end %>
				<% else %>
					<% if !@params_item_additional_entry.nil? %>
						<%= f_item_entry_additional_field.text_field :value, :value => @params_item_additional_entry[item_additional_field.id.to_s]["value"] || "" %>
					<% else %>
						<%= f_item_entry_additional_field.text_field :value %>
					<% end %>
				<% end %>
	    	</div>
	    <% end %>
    <% end %>
    <div class="actions">
		<%= f.submit %>
	</div>
<% end %>